<!DOCTYPE html>
<html lang = "ja">
    <header>
        <meta content="text/html: charset=UTF-8">
        <title>mini board</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script>
            function init(){
                var id = localStrage.getItem('id');
                if(if == null){
                    location.href = './login';
                }
                document.querySelector('#id').textContent = 'ID:' + id;
                document.querySelector('#id_input').value = id;
            }
        </script>
    </header>
    <body onload="init();">
        <head>
            <h1>informaion</h1>
        </head>
        <div role = "main">
            <p>max message is 10</p>
            <form method="post", action="/">
                <p><span id = "id"></span>
                <input type="hidden" id = "id_input" name="id" value=""></p>
            </form>
            <hr>
            <p><table style="width:85%";>
                <% for(var i in data ) {>
                    <%- include('data_item', {val:data[i]}) %>
                <% }%>
            </table></p>    
        </div>
    </body>
    
</html>