<!DOCTYPE html>
<html lang = "ja">
    <header>
        <meta content="text/html: charset=UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script>
            function setID(){
                var id = document.querySelector('#id_input').value;
                localStorage.setItem('id', id );
                location.href = '/';
            }
        </script>
    </header>


    <body>
        <head>
            <h1>Login</h1>
        </head>
        <div role = "main">
            <p>Input Yout Name</p>
            <p><input type="text" id = "id_input">
            <button onclick="setId();"></button></p>
        </div>
    </body>
</html>